<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Listing</title>
</head>
<body>
    <h1>Edit Listing</h1>

    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
        <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="enter title">
        <br>
        <input type="text" name="listing[description]" value="<%= listing.description %>" placeholder="enter description">
        <br>
        <input type="text" name="listing[image]" value="<%= listing.image %>" placeholder="Image URL">
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>" placeholder="enter price">
        <br>
        <input type="text" name="listing[location]" value="<%= listing.location %>" placeholder="enter location">
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="enter country">
        <br><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
